## We will first train a ColBERT sentence embedding.

In [1]:
# Machine details
from tensorflow import keras
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 5754991433281369222
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 15703311680
locality {
  bus_id: 1
  links {
  }
}
incarnation: 9166332265916692221
physical_device_desc: "device: 0, name: Tesla P100-PCIE-16GB, pci bus id: 0000:00:04.0, compute capability: 6.0"
]

## Import model

In [2]:
model = keras.models.load_model("colbert-trained/")
model.summary()

Model: "functional_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_19 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_20 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_21 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_22 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_23 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_24 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_25 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_26 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_27 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_28 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_29 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_30 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_31 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_32 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_33 (InputLayer)           [(None, 20)]         0
__________________________________________________________________________________________________
input_34 (InputLayer)           [(None, 100)]        0
__________________________________________________________________________________________________
input_35 (InputLayer)           [(None, 100)]        0
__________________________________________________________________________________________________
input_36 (InputLayer)           [(None, 100)]        0
__________________________________________________________________________________________________
bert (Custom>TFBertMainLayer)   multiple             109482240   input_19[0][0]
                                                                 input_20[0][0]
                                                                 input_21[0][0]
                                                                 input_22[0][0]
                                                                 input_23[0][0]
                                                                 input_24[0][0]
                                                                 input_25[0][0]
                                                                 input_26[0][0]
                                                                 input_27[0][0]
                                                                 input_28[0][0]
                                                                 input_29[0][0]
                                                                 input_30[0][0]
                                                                 input_31[0][0]
                                                                 input_32[0][0]
                                                                 input_33[0][0]
                                                                 input_34[0][0]
                                                                 input_35[0][0]
                                                                 input_36[0][0]
__________________________________________________________________________________________________
global_average_pooling1d_6 (Glo (None, 768)          0           bert[0][0]
__________________________________________________________________________________________________
global_average_pooling1d_7 (Glo (None, 768)          0           bert[1][0]
__________________________________________________________________________________________________
global_average_pooling1d_8 (Glo (None, 768)          0           bert[2][0]
__________________________________________________________________________________________________
global_average_pooling1d_9 (Glo (None, 768)          0           bert[3][0]
__________________________________________________________________________________________________
global_average_pooling1d_10 (Gl (None, 768)          0           bert[4][0]
__________________________________________________________________________________________________
global_average_pooling1d_11 (Gl (None, 768)          0           bert[5][0]
__________________________________________________________________________________________________
dense_15 (Dense)                (None, 32)           24608       global_average_pooling1d_6[0][0]
__________________________________________________________________________________________________
dense_17 (Dense)                (None, 32)           24608       global_average_pooling1d_7[0][0]
__________________________________________________________________________________________________
dense_19 (Dense)                (None, 32)           24608       global_average_pooling1d_8[0][0]
__________________________________________________________________________________________________
dense_21 (Dense)                (None, 32)           24608       global_average_pooling1d_9[0][0]
__________________________________________________________________________________________________
dense_23 (Dense)                (None, 32)           24608       global_average_pooling1d_10[0][0]
__________________________________________________________________________________________________
dense_25 (Dense)                (None, 256)          196864      global_average_pooling1d_11[0][0]
__________________________________________________________________________________________________
dropout_44 (Dropout)            (None, 32)           0           dense_15[0][0]
__________________________________________________________________________________________________
dropout_45 (Dropout)            (None, 32)           0           dense_17[0][0]
__________________________________________________________________________________________________
dropout_46 (Dropout)            (None, 32)           0           dense_19[0][0]
__________________________________________________________________________________________________
dropout_47 (Dropout)            (None, 32)           0           dense_21[0][0]
__________________________________________________________________________________________________
dropout_48 (Dropout)            (None, 32)           0           dense_23[0][0]
__________________________________________________________________________________________________
dropout_49 (Dropout)            (None, 256)          0           dense_25[0][0]
__________________________________________________________________________________________________
dense_16 (Dense)                (None, 8)            264         dropout_44[0][0]
__________________________________________________________________________________________________
dense_18 (Dense)                (None, 8)            264         dropout_45[0][0]
__________________________________________________________________________________________________
dense_20 (Dense)                (None, 8)            264         dropout_46[0][0]
__________________________________________________________________________________________________
dense_22 (Dense)                (None, 8)            264         dropout_47[0][0]
__________________________________________________________________________________________________
dense_24 (Dense)                (None, 8)            264         dropout_48[0][0]
__________________________________________________________________________________________________
dense_26 (Dense)                (None, 64)           16448       dropout_49[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 104)          0           dense_16[0][0]
                                                                 dense_18[0][0]
                                                                 dense_20[0][0]
                                                                 dense_22[0][0]
                                                                 dense_24[0][0]
                                                                 dense_26[0][0]
__________________________________________________________________________________________________
dense_27 (Dense)                (None, 512)          53760       concatenate_1[0][0]
__________________________________________________________________________________________________
dropout_50 (Dropout)            (None, 512)          0           dense_27[0][0]
__________________________________________________________________________________________________
dense_28 (Dense)                (None, 256)          131328      dropout_50[0][0]
__________________________________________________________________________________________________
dense_29 (Dense)                (None, 1)            257         dense_28[0][0]
==================================================================================================
Total params: 110,005,257
Trainable params: 110,005,257
Non-trainable params: 0
__________________________________________________________________________________________________

In [3]:
# Dependencies
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import GroupKFold
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm

# import tensorflow_hub as hub
import tensorflow as tf
# import bert_tokenization as tokenization
import tensorflow.keras.backend as K
# from tensorflow import keras

import os
from scipy.stats import spearmanr
from math import floor, ceil
from transformers import *

import seaborn as sns
import string
import re    #for regex

np.set_printoptions(suppress=True)
print(tf.__version__)

2.4.1

In [4]:
# Parameters for data
training_sample_count = 1000 # 4000
test_count = 1000

MAX_SENTENCE_LENGTH = 20
MAX_SENTENCES = 5
MAX_LENGTH = 100

## Read training and testing data

In [5]:
!ls
# os.chdir("joke-gen/ColBERT humor")

Data		 colbert-trained.zip  modelConf.json
colbert-trained  mega.sh	      train-colbert-evaluate-seqgan.ipynb

In [6]:
df = pd.read_csv('Data/dataset.csv')

df_train = pd.read_csv('Data/train.csv')
display(df_train.head(3))
df_train = df_train[:training_sample_count]

df_test = pd.read_csv('Data/dev.csv')
display(df_test.head(3))
df_test = df_test[:test_count]

                                                text  humor
0  Joe biden rules out 2020 bid: 'guys, i'm not r...  False
1  Watch: darvish gave hitter whiplash with slow ...  False
2  What do you call a turtle without its shell? d...   True

                                                text  humor
0  What kind of cat should you take into the  des...   True
1  Remember when people used to have to be in sha...   True
2  Pizza is always good. - everyone we'll see abo...   True

In [7]:
test_df_y = df_test.copy()
del df_test['humor']

df_sub = test_df_y.copy()

print(len(df),len(df_train),len(df_test))
display(df_train.head())
display(df_test.head())

200000 1000 1000

                                                text  humor
0  Joe biden rules out 2020 bid: 'guys, i'm not r...  False
1  Watch: darvish gave hitter whiplash with slow ...  False
2  What do you call a turtle without its shell? d...   True
3      5 reasons the 2016 election feels so personal  False
4  Pasco police shot mexican migrant from behind,...  False

                                                text
0  What kind of cat should you take into the  des...
1  Remember when people used to have to be in sha...
2  Pizza is always good. - everyone we'll see abo...
3  What's 6 inches long hard, bent, and in my pan...
4  Black teen's response to violence in his commu...

In [8]:
output_categories = list(df_train.columns[[1]])
input_categories = list(df_train.columns[[0]])

TARGET_COUNT = len(output_categories)

print('\ninput categories:\n\t', input_categories)
print('\noutput TARGET_COUNT:\n\t', TARGET_COUNT)
print('\noutput categories:\n\t', output_categories)

input categories:
	 ['text']

output TARGET_COUNT:
	 1

output categories:
	 ['humor']

## Preprocess the data

In [9]:
from tensorflow.keras import layers
from tokenizers import BertWordPieceTokenizer
from transformers import BertTokenizer, TFBertModel, BertConfig

MODEL_TYPE = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(MODEL_TYPE)

In [10]:
import nltk
nltk.download('punkt')
from nltk.tokenize import sent_tokenize

[nltk_data] Downloading package punkt to /home/jupyter/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [11]:
def return_id(str1, str2, truncation_strategy, length):

    inputs = tokenizer.encode_plus(str1, str2,
        add_special_tokens=True,
        max_length=length,
        truncation_strategy=truncation_strategy)

    input_ids =  inputs["input_ids"]
    input_masks = [1] * len(input_ids)
    input_segments = inputs["token_type_ids"]
    padding_length = length - len(input_ids)
    padding_id = tokenizer.pad_token_id
    input_ids = input_ids + ([padding_id] * padding_length)
    input_masks = input_masks + ([0] * padding_length)
    input_segments = input_segments + ([0] * padding_length)

    return [input_ids, input_masks, input_segments]


def compute_input_arrays(df, columns, tokenizer):
    model_input = []
    for xx in range((MAX_SENTENCES*3)+3):
        model_input.append([])
    
    for _, row in tqdm(df[columns].iterrows()):
        i = 0
        
        # sent
        sentences = sent_tokenize(row.text)
        for xx in range(MAX_SENTENCES):
            s = sentences[xx] if xx<len(sentences) else ''
            ids_q, masks_q, segments_q = return_id(s, None, 'longest_first', MAX_SENTENCE_LENGTH)
            model_input[i].append(ids_q)
            i+=1
            model_input[i].append(masks_q)
            i+=1
            model_input[i].append(segments_q)
            i+=1
        
        # full row
        ids_q, masks_q, segments_q = return_id(row.text, None, 'longest_first', MAX_LENGTH)
        model_input[i].append(ids_q)
        i+=1
        model_input[i].append(masks_q)
        i+=1
        model_input[i].append(segments_q)
        
    for xx in range((MAX_SENTENCES*3)+3):
        model_input[xx] = np.asarray(model_input[xx], dtype=np.int32)
        
    print(model_input[0].shape)
    return model_input

In [12]:
inputs      = compute_input_arrays(df_train, input_categories, tokenizer)
test_inputs = compute_input_arrays(df_test, input_categories, tokenizer)

0it [00:00, ?it/s]

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

(1000, 20)

0it [00:00, ?it/s]

(1000, 20)

In [13]:
print(len(inputs), len(inputs[0]), len(inputs[0][0]))

# check out input for 7th row
xx = 7
print(df_train.iloc[xx,0])
print(sent_tokenize(df_train.iloc[xx,0]))
inputs[0][xx], inputs[3][xx], inputs[6][xx], inputs[15][xx]

18 1000 20
Why do native americans hate it when it rains in april? because it brings mayflowers.
['Why do native americans hate it when it rains in april?', 'because it brings mayflowers.']

(array([  101,  2339,  2079,  3128,  4841,  5223,  2009,  2043,  2009,
        15811,  1999,  2258,  1029,   102,     0,     0,     0,     0,
            0,     0], dtype=int32),
 array([  101,  2138,  2009,  7545,  2089, 14156,  2015,  1012,   102,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0], dtype=int32),
 array([101, 102,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0], dtype=int32),
 array([  101,  2339,  2079,  3128,  4841,  5223,  2009,  2043,  2009,
        15811,  1999,  2258,  1029,  2138,  2009,  7545,  2089, 14156,
         2015,  1012,   102,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0], dtype=int32))

In [14]:
def compute_output_arrays(df, columns):
    return np.asarray(df[columns])

outputs = compute_output_arrays(df_train, output_categories)
outputs[:3]

array([[False],
       [False],
       [ True]])

Since it's a regression with outcome between 0 and 1, it's reasonable to use binary_crossentropy optimizer and MAE loss function

## Evaluation

In [15]:
# Evaluation Metrics
import sklearn
def print_evaluation_metrics(y_true, y_pred, label='', is_regression=True, label2=''):
    print('==================', label2)
    ### For regression
    if is_regression:
        print('mean_absolute_error',label,':', sklearn.metrics.mean_absolute_error(y_true, y_pred))
        print('mean_squared_error',label,':', sklearn.metrics.mean_squared_error(y_true, y_pred))
        print('r2 score',label,':', sklearn.metrics.r2_score(y_true, y_pred))
        #     print('max_error',label,':', sklearn.metrics.max_error(y_true, y_pred))
        return sklearn.metrics.mean_squared_error(y_true, y_pred)
    else:
        ### FOR Classification
#         print('balanced_accuracy_score',label,':', sklearn.metrics.balanced_accuracy_score(y_true, y_pred))
#         print('average_precision_score',label,':', sklearn.metrics.average_precision_score(y_true, y_pred))
#         print('balanced_accuracy_score',label,':', sklearn.metrics.balanced_accuracy_score(y_true, y_pred))
#         print('accuracy_score',label,':', sklearn.metrics.accuracy_score(y_true, y_pred))
        print('f1_score',label,':', sklearn.metrics.f1_score(y_true, y_pred))
        
        matrix = sklearn.metrics.confusion_matrix(y_true, y_pred)
        print(matrix)
        TP,TN,FP,FN = matrix[1][1],matrix[0][0],matrix[0][1],matrix[1][0]
        Accuracy = (TP+TN)/(TP+FP+FN+TN)
        Precision = TP/(TP+FP)
        Recall = TP/(TP+FN)
        F1 = 2*(Recall * Precision) / (Recall + Precision)
        print('Acc', Accuracy, 'Prec', Precision, 'Rec', Recall, 'F1',F1)
        return sklearn.metrics.accuracy_score(y_true, y_pred)

In [16]:
preds = model.predict(inputs)
print_evaluation_metrics(np.array(outputs), np.array(preds), '')

==================
mean_absolute_error  : 0.008370923
mean_squared_error  : 0.0059296396
r2 score  : 0.9762767920443749

0.0059296396

## Predict on test sets and produce binary submission

In [17]:
test_preds = model.predict(test_inputs)

In [18]:
for split in np.arange(0.1, 0.99, 0.1).tolist():
    df_sub['pred_bi'] = (test_preds > split)

    print_evaluation_metrics(df_sub['humor'], df_sub['pred_bi'], '', False, 'SPLIT on '+str(split))

    df_sub.to_csv('sub3.csv', index=False)
    df_sub.head()

================== SPLIT on 0.1
f1_score  : 0.9769673704414588
[[467  17]
 [  7 509]]
Acc 0.976 Prec 0.967680608365019 Rec 0.9864341085271318 F1 0.9769673704414588
================== SPLIT on 0.2
f1_score  : 0.9797492767598842
[[471  13]
 [  8 508]]
Acc 0.979 Prec 0.9750479846449136 Rec 0.9844961240310077 F1 0.9797492767598842
================== SPLIT on 0.30000000000000004
f1_score  : 0.9816069699903194
[[474  10]
 [  9 507]]
Acc 0.981 Prec 0.9806576402321083 Rec 0.9825581395348837 F1 0.9816069699903194
================== SPLIT on 0.4
f1_score  : 0.9825581395348837
[[475   9]
 [  9 507]]
Acc 0.982 Prec 0.9825581395348837 Rec 0.9825581395348837 F1 0.9825581395348837
================== SPLIT on 0.5
f1_score  : 0.9835111542192047
[[476   8]
 [  9 507]]
Acc 0.983 Prec 0.9844660194174757 Rec 0.9825581395348837 F1 0.9835111542192047
================== SPLIT on 0.6
f1_score  : 0.9825242718446603
[[476   8]
 [ 10 506]]
Acc 0.982 Prec 0.9844357976653697 Rec 0.9806201550387597 F1 0.9825242718446603
================== SPLIT on 0.7000000000000001
f1_score  : 0.9815354713313897
[[476   8]
 [ 11 505]]
Acc 0.981 Prec 0.9844054580896686 Rec 0.9786821705426356 F1 0.9815354713313897
================== SPLIT on 0.8
f1_score  : 0.980544747081712
[[476   8]
 [ 12 504]]
Acc 0.98 Prec 0.984375 Rec 0.9767441860465116 F1 0.980544747081712
================== SPLIT on 0.9
f1_score  : 0.9814634146341463
[[478   6]
 [ 13 503]]
Acc 0.981 Prec 0.9882121807465619 Rec 0.9748062015503876 F1 0.9814634146341463

In [19]:
df_sub['pred_bi'] = (test_preds > 0.5)

print_evaluation_metrics(df_sub['humor'], df_sub['pred_bi'], '', False, 'SPLIT on '+str(split))

df_sub.to_csv('sub.csv', index=False)
df_sub.head()

================== SPLIT on 0.9
f1_score  : 0.9835111542192047
[[476   8]
 [  9 507]]
Acc 0.983 Prec 0.9844660194174757 Rec 0.9825581395348837 F1 0.9835111542192047

                                                text  humor  pred_bi
0  What kind of cat should you take into the  des...   True     True
1  Remember when people used to have to be in sha...   True     True
2  Pizza is always good. - everyone we'll see abo...   True     True
3  What's 6 inches long hard, bent, and in my pan...   True     True
4  Black teen's response to violence in his commu...  False    False

In [20]:
print('Texts that the model correctly predicts:')
df_sub[df_sub['pred_bi']==df_sub['humor']]

Texts that the model correctly predicts:

                                                  text  humor  pred_bi
0    What kind of cat should you take into the  des...   True     True
1    Remember when people used to have to be in sha...   True     True
2    Pizza is always good. - everyone we'll see abo...   True     True
3    What's 6 inches long hard, bent, and in my pan...   True     True
4    Black teen's response to violence in his commu...  False    False
..                                                 ...    ...      ...
995  Watch: dude with rod in his head seems pretty ...  False    False
996  Why are giraffes slow to apologize? it takes t...   True     True
997  I think some drugs should be legalized... but ...   True     True
998  What did miss muffet and saddam hussein have i...   True     True
999  My 83 year old grandfather is still trying to ...   True     True

[983 rows x 3 columns]

In [21]:
print('Texts that the model failed to correctly predict:')
df_sub[df_sub['pred_bi']!=df_sub['humor']]

Texts that the model failed to correctly predict:

                                                  text  humor  pred_bi
252  Ariana grande looks like she was designed in a...   True    False
303   If you're happy and you know it, share your meds   True    False
309  Friends don't let friends make harlem shake' v...   True    False
310      The whip was especially popular in the 1800's   True    False
345  One out of five dentists has the courage to sp...   True    False
361  New subway slogan idea from jared 12 is the ne...   True    False
372  The easiest way to water plants is...using a t...  False     True
383     What is this 'wrong hole' you people speak of?   True    False
525  What happens when you retweet a compliment abo...   True    False
572  The boomerang is australia's chief export (and...   True    False
587           Who's in charge? are you a wimpy parent?  False     True
628   Weed is out of the bag... what's next? how soon?  False     True
714  Try to keep calm but k-pop band bts is getting...  False     True
812               Netanyahu is an ass, but he's my ass  False     True
878  Fighter. liberator. ungovernable woman. mother...  False     True
883  What if everyone had only one true soul mate, ...  False     True
987  These are our relationships as depicted by foo...  False     True